[submodule "Vesper/vendor/spdlog"]
	path = Vesper/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vesper/vendor/GLFW"]
	path = Vesper/vendor/GLFW
	url = https://github.com/TheCherno/glfw
